<html lang="en">
    <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/startpage.css') }}">
    <title>Get Ready</title>
        
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    

    <body>
    
    
            
    <div class="container">
      
              
        <div class="warning">            
            <h2>"You logged out in the middle of a quiz last time!"</h2>
            <p>You can either continue exactly where you left off, or exit it. </p>
            <a href="/questionpage/{{a}}/{{b}}/{{c}}"> Continue Quiz </a>
            <a href="/nocontinue"> Exit and go Home </a>
          <!--   <a href="javascript:history.back()">Please go back to the previous page</a> -->
        </div>

        <div class="footer"><p class="copyright">&copy; Abhinav and Shreyas</p></div>        

    </div><!-- /.container -->                             
    </body>
</html>

