<html lang="en">
    <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/startpage.css') }}">
    <title>Get Ready</title>
        
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    

    <body>
    
    
            
    <div class="container">
      
              
        <div class="warning">            
            <h2>"Question has been added to the Database!"</h2>
            <p>Lololol</p>
            <a href="/welcome"> Go back Home </a>
          <!--   <a href="javascript:history.back()">Please go back to the previous page</a> -->
        </div>

        <div class="footer"><p class="copyright">&copy; Abhinav and Shreyas</p></div>        

    </div><!-- /.container -->                             
    </body>
</html>

